{% extends "layout.html" %}
{% block main %}
    <div class="instruments">
    <form action="/instruments" class="search-container" method="post">
        <div id="search">
            <input id="home-search" type="search" placeholder="Search Markets">
            <div id="search-container"></div>
        </div>
    </form>
    <div>
        <table>
            <h1>Cryptocurrencies</h1>
            <tbody>
                {% for coin in coins %}
                    <tr>
                        <td class="hidden">{{ coin['symbol'] }}</td>
                        <td><img class="icon" src="{{ coin['image']}}"><a class="crypto-name nav-item">{{coin['name']}}</a></td>
                        <td><a href="/chart?symbol={{ coin['symbol']}}&name={{ coin['name']}}" name="BTC" class="nav-item">View Chart</a></td>
                        <td class="price" id="{{coin['name']}}"></td>
                        <td><a href="/trade?symbol={{ coin['symbol']}}&name={{ coin['name']}}&current={{ coin['current_price'] }}" class="nav-item">Trade</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}