{% extends "layout.html" %}
{% block main %}
<div class="container container-fluid flex-box">
  <div class="text flex-box">
      <h1 class="name">Its Now Or Never</h1>
      <h1 class="name">To Trade Crypto, you need the best Platform</h1>
      <h3>This is a personal Project By Tinashe Kwande</h3>
  </div>
  <div class="search-items text container">
          <input class="flex-box" id="home-search" type="search" placeholder="Search Markets" autofocus>
          <div id="search-container"></div>
  </div>
  </div>
<div class="widgets container container-fluid text">
{% for data in data %}
      <div class="card-body widget-container">
        <img class="widget-image" src="{{ data['image'] }}" class="card-img-top" alt="...">
        <h5 class="name card-title">{{ data['name'] }}</h5>
        <h1 class="hidden">{{ data['symbol'] }}</h1>
        <p class="price name" id="{{ data['name'] }}"></p>
        <a href="/chart?symbol={{data['symbol']}}&name={{ data['name'] }}" class="widget-button btn btn-primary">View chart</a>
      </div>
  {% endfor %}
</div>
</div>

{% endblock %}


